/*this styling is for header container in home page*/
.header-container{
    height:10%;
    width:95%;
    left:2%;
    position: fixed;
    background-color: grey
}
/** This styling is for side bar container*/
.side-container{
    max-height:80%;
    width:20%;
    left:2%;
    top:12%;
    position:fixed;
    display:flex;
    flex-direction: column;
    background-color: #f8f9fa
}

/** This styling is for view  container*/
.view-container{
    height:86%;
    width: 72%;
    left: 25vw;
    top:12%;
    position:fixed;
    background-color: #e2e0cd;
}
/*this sstyle is for login component container*/
.login-container{
    height:100%;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: #e2e0cd;
}
/*this sstyle is for login main container*/
.login-container div{
    height:30vw;
    width: 40vw;
    display:flex;
    flex-direction: column;
    background-color: #fff;
    margin: auto;
}
.side-container span {
    padding: 0.5vw;
    border: 0.2vw solid grey
}

.side-container span:not(:last-child){
    border-bottom: 0
}