/*this styling is used for the main div*/
.catalogMainDiv{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

/** This styling is for the catalog Image div*/
.catalogImageDiv{
    margin: 2vw auto;
    width:50%;
    height:50%;
}
.catalogImageDiv img{
    width:100%;
    height:100%;
}

/** This styling is used for the product div*/
.productDiv{
    display:flex;
}